<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head(~{::head/content()})">
</head>
<body class="dx-viewport">
<div th:replace="layout :: header"></div>

<div class="container-fluid">

    <div class="row">
        <div class="col-2">

<!--            <div  th:if="${assigned}">-->
<!--                <div th:replace="left :: left"></div>-->
<!--            </div>-->

<!--            <div  th:if="${!assigned}">-->
<!--                <div th:replace="left_unassigned :: left"></div>-->
<!--            </div>-->

            <div th:replace="left :: left"></div>

        </div>
        <div class="col-10">

            <div clas="row">


                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Главная</a></li>
                        <li class="breadcrumb-item"><a href="#">Руководство пользователя</a></li>
                        <li class="breadcrumb-item"><a href="#">Оглавление</a></li>
                    </ol>
                </nav>

                <h4> Оглавление:</h4>

                <nav class="nav flex-column">
                    <a class="nav-link" href="#">Раздел 1</a>
                    <a class="nav-link" href="#">Раздел 2</a>
                    <a class="nav-link" href="#">Раздел 3</a>
                    <a class="nav-link" href="#">Раздел 4</a>
                    <a class="nav-link" href="#">Раздел 5</a>
                    <a class="nav-link" href="#">Раздел 6</a>
                </nav>


            </div>


        </div>

    </div>
</div>


<div th:replace="layout :: footer"></div>


</body>
</html>
