<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="left">
    <nav class="nav flex-column">

        <a class="nav-link" th:href="@{/}">Главная</a>

        <a class="nav-link" th:href="@{/profile}">Учетная запись <br>
            <i>Иванов Иван Иванович</i></a>
        <a class="nav-link" th:href="@{/documents}">Документы</a>
        <a class="nav-link" th:href="@{/users}">Пользователи</a>
        <a class="nav-link" th:href="@{/guide}">О программе</a>
        <a class="nav-link" th:href="@{/guide}">Руководство пользователя</a>
        <a class="nav-link" th:href="@{/support}">Служба поддержки</a>
        <a class="nav-link" th:href="@{/logout}">Выйти</a>
    </nav>
</div>

</body>
</html>

